form {
    background-color: #9b75be;
}

input {
    background-color: #d4bce7;
}

.form {
    padding: 50px;
}



.InputForm {
    display:flex;
    margin: 0 0 20px;
    padding: 5px 5px;
    width: 70%
}

.contato {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    margin: 0 10px 10px;


}

.telefone {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    height: 15px;

}

.spaceFone {
    display: flex;
    justify-content: space-between;
}


.input-radio {
    display: flex;
    margin: 0 10px 10px;
    width: 100px;
}

.input-radio-buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 10px 10px;
    width: 100px;
}

.genero-button{
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    padding: 5px 5px;
}

/*.radio-gender{
    display:flex;
    margin: 0 0 20px;
    padding: 5px 5px;
}*/

.genero {
    display: flex;
}

.enviar {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70%;
    padding: 5px 25px;
    box-shadow: 2px 2px #000000;
    font-size: 16px;
    font-family: 'Comic Neue', cursive;

}

.alerta-erro {
    color:#ffbdbd
}

