.form {
    padding: 50px;
}
form input {
    display:flex;
    margin: 0 0 20px;
    padding: 5px 5px;
    width: 30%
}

.contato {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 200px;
    margin: 0 10px 10px;

}

.telefone {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    height: 15px;

}

.input-radio-data {
    margin: 0 10px 10px;
    width: 100px;
        
}

.input-radio {
    display: flex;
}

.genero {
    display: flex;
}

.enviar {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30%;
    padding: 5px 25px;
    box-shadow: 2px 2px #000000;
    font-size: 16px;
    font-family: 'Comic Neue', cursive;

}

